.idea
*.env
.venv
.DS_Store
cmd/.DS_Store
competensy.csv
scripts/convert_skills.go
tempfiles/*
*.pem
load_skills_to_mongo.go
ml_moderator/vect.pkl

ml_check/__pycache__
ml_explanator/__pycache__
ml_moderator/__pycache__
ml_image_moderator/__pycache__
ml_image_moderator/src/__pycache__
research